.main-content {
  width: 100%;
}

body {
  font-family: 'Metrophobic', Arial, serif;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  font-size: 5.4vw;
}

h2 {
  font-size: 3.0vw;
}

p {
  font-size: 2vmin;
}

.row-content {
  max-width: 1060px;
  margin: auto;
  text-align: center;
}

header h1 {
  max-width: 150px;
  text-align: center;
  margin: auto;
}

#about {
  background-color: #FFE2FB;
}

#about img {
  max-width: 200px;
  border-radius: 150px;
}

#order {
  background-color: #E30093;
}

#order img {
  width: 100%;
}

#contact {
  background-color: #FFE2FB;
}

footer {
  background-color: #FC8B8B;
}
