//colours

$avonpink: #E30093
$lightpink: #FFE2FB
$peach: #FC8B8B

// general global

.main-content
  width: 100%

//font styles

body
  font-family: 'Metrophobic', Arial, serif
  font-weight: 400

h1
  font-size: 36px /* fallback */
  font-size: 5.4vw

h2
  font-size: 3.0vw

p
  font-size: 2vmin

// layer styles

.row-content
  max-width: 1060px
  margin: auto
  h2
  text-align: center

header
  h1
    max-width: 150px
    text-align: center
    margin: auto

#about
  background-color: $lightpink
  img
    max-width: 200px
    border-radius: 150px

#order
  background-color: $avonpink
  img
    width: 100%

#contact
  background-color: $lightpink

footer
  background-color: $peach
