#gloss, #lipstick, #powder, #mascara {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-content {
  width: 100%;
}

form {
  width: 100%;
}

input[type=submit] {
  background: #E30093;
  border: solid 2px #333;
  padding: 10px;
  color: #fff;
}

input, textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.error {
  box-shadow: inset 0 0 10px #000000;
  background: rgba(255, 0, 0, 0.4);
  padding: 5px;
  border: solid 2px red;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 86px;
}

h1 span {
  font-weight: 700;
}

h2 {
  font-size: 3.0vw;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 2vw;
  font-weight: 300;
}

a:visited {
  color: #333;
}

.row-content {
  max-width: 1060px;
  margin: auto;
  overflow: auto;
  padding: 30px 10px 30px 10px;
}

.row-content h2 {
  padding-bottom: 40px;
}

header h1 {
  max-width: 260px;
  text-align: center;
  margin: auto;
  padding: 15px;
}

header img {
  position: absolute;
}

#gloss {
  top: 0;
  z-index: -1;
  transform: rotate(-30deg);
}

@media screen and (max-width: 768px) {
  #gloss {
    top: 65px;
    left: -10%;
  }
}

#lipstick {
  top: 0;
  z-index: -1;
  right: 0;
}

@media screen and (max-width: 768px) {
  #lipstick {
    top: 53px;
    right: -35px;
  }
}

#powder {
  top: -50px;
  right: 18%;
  z-index: -2;
  transform: rotate(-40deg);
}

@media screen and (max-width: 768px) {
  #powder {
    top: -180px;
    right: 28%;
  }
}

@media screen and (max-width: 414px) {
  #powder {
    display: none;
  }
}

#mascara {
  top: -60px;
  left: 24%;
  z-index: -2;
  transform: rotate(100deg);
}

@media screen and (max-width: 768px) {
  #mascara {
    display: none;
  }
}

#about {
  background-color: #FFE2FB;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}

#about img {
  border-radius: 150px;
  margin-top: 70px;
}

#about h2 {
  text-align: left;
}

#about p {
  line-height: 35px;
}

#about .right {
  width: 70%;
  float: right;
}

#about .left {
  width: 25%;
  float: left;
  margin-right: 20px;
}

#about .row-content {
  padding-top: 100px;
}

#about img {
  width: 100%;
}

#order {
  background-color: #E30093;
  color: #fff;
}

#order img {
  width: 100%;
}

#order h2 {
  text-align: center;
}

#order .btn {
  width: 200px;
  margin: auto;
  position: relative;
  text-align: center;
  border-radius: 10px;
  padding: 7px;
  color: #333;
  background-color: #fff;
  transition: all 0.5s;
  top: 0px;
}

#order .btn:hover {
  box-shadow: 1px 8px 10px 2px #6A2EFF, 1px 12px 5px 3px white;
  top: -5px !important;
}

#order .btn a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#contact {
  background-color: #FFE2FB;
}

#contact h2 {
  font-size: 90px;
  border-bottom: solid 8px;
}

#contact .right {
  width: 60%;
  float: right;
}

@media screen and (max-width: 768px) {
  #contact .right {
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  #contact .right {
    width: 100%;
    float: none;
  }
}

#contact .right img {
  transform: rotate(110deg);
}

@media screen and (max-width: 414px) {
  #contact .right img {
    display: none;
  }
}

#contact .left {
  width: 30%;
  float: left;
}

@media screen and (max-width: 768px) {
  #contact .left {
    width: 40%;
  }
}

@media screen and (max-width: 414px) {
  #contact .left {
    width: 90%;
    padding-top: 20px;
    float: none;
  }
}

footer {
  background-color: #FC8B8B;
  text-align: center;
}

footer h3 {
  padding: 20px;
  color: #fff;
}

footer p {
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
}
