.main-content {
  width: 100%;
}

form {
  width: 100%;
}

input[type=submit] {
  background: #E30093;
  border: solid 2px #333;
  padding: 10px;
  color: #fff;
}

input, textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.error {
  box-shadow: inset 0 0 10px #000000;
  background: rgba(255, 0, 0, 0.4);
  padding: 5px;
  border: solid 2px red;
}

body {
  font-family: 'Metrophobic', Arial, serif;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 86px;
}

h1 span {
  font-weight: 600;
}

h2 {
  font-size: 3.0vw;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 2vw;
}

a:visited {
  color: #333;
}

.row-content {
  max-width: 1060px;
  margin: auto;
  overflow: auto;
  padding: 30px 10px 30px 10px;
}

.row-content h2 {
  padding-bottom: 30px;
}

header h1 {
  max-width: 260px;
  text-align: center;
  margin: auto;
  padding: 15px;
}

#about {
  background-color: #FFE2FB;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}

#about img {
  border-radius: 150px;
  margin-top: 70px;
}

#about h2 {
  text-align: left;
}

#about .right {
  width: 70%;
  float: right;
}

#about .left {
  width: 25%;
  float: left;
  margin-right: 20px;
}

#about .row-content {
  padding-top: 100px;
}

#about img {
  width: 100%;
}

#order {
  background-color: #E30093;
  color: #fff;
}

#order img {
  width: 100%;
}

#order h2 {
  text-align: center;
}

#order .btn {
  width: 200px;
  margin: auto;
  position: relative;
  text-align: center;
  border-radius: 10px;
  padding: 7px;
  color: #333;
  background-color: #fff;
}

#order .btn a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#contact {
  background-color: #FFE2FB;
}

#contact h2 {
  font-size: 90px;
  border-bottom: solid 8px;
}

#contact .right {
  width: 60%;
  float: right;
}

#contact .left {
  width: 30%;
  float: left;
}

footer {
  background-color: #FC8B8B;
  text-align: center;
}

footer h3 {
  padding: 20px;
  color: #fff;
}

footer p {
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
}
