//colours

$avonpink: #E30093
$lightpink: #FFE2FB
$peach: #FC8B8B
$greytext: #333

// general global

.main-content
  width: 100%

form
  width: 100%

input[type=submit]
  background: $avonpink
  border: solid 2px $greytext
  padding: 10px
  color: #fff

input, textarea
  width: 100%
  padding: 5px
  margin: 5px 0 5px 0

.error
  box-shadow: inset 0 0 10px #000000
  background: rgba(255, 0, 0, 0.4)
  padding: 5px
  border: solid 2px red

//font styles

body
  font-family: 'Metrophobic', Arial, serif
  font-weight: 400
  color: $greytext

h1
  font-size: 86px /* fallback */
  //font-size: 5.4vw
  span
    font-weight: 600

h2
  font-size: 3.0vw

h3
  font-size: 25px

p
  font-size: 2vw

a:visited
  color: $greytext

// layer styles

.row-content
  max-width: 1060px
  margin: auto
  overflow: auto
  padding: 30px 10px 30px 10px
  h2
    padding-bottom: 30px

header
  h1
    max-width: 260px
    text-align: center
    margin: auto
    padding: 15px

#about
  background-color: $lightpink
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0)
  -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0)
  img
    border-radius: 150px
    margin-top: 70px
  h2
    text-align: left
  .right
    width: 70%
    float: right
  .left
    width: 25%
    float: left
    margin-right: 20px
  .row-content
    padding-top: 100px
  img
    width: 100%

#order
  background-color: $avonpink
  color: #fff
  img
    width: 100%
  h2
    text-align: center
  .btn
    width: 200px
    margin: auto
    position: relative
    text-align: center
    border-radius: 10px
    padding: 7px
    color: $greytext
    background-color: #fff
    a
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0

#contact
  background-color: $lightpink
  h2
    font-size: 90px
    border-bottom: solid 8px
  .right
    width: 60%
    float: right
  .left
    width: 30%
    float: left

footer
  background-color: $peach
  text-align: center
  h3
    padding: 20px
    color: #fff
  p
    font-size: 18px
    padding: 10px
    margin-top: 15px
